

<div class = "background new-font">
        <button class="mode" type="button"{{ action 'toggleDarkLight'}}>🌛/☀️</button>
        <div id ="container" class ="light-mode"> 
        <h1 class= "font"> Tip Calculator</h1>
        <div id =" calculator"> 
                <CalculatorAll @model={{this.model}} />
        </div>
    </div>
</div>